<html>
<head>
  <%= stylesheet_link_tag  "landing",'bootstrap', :media => "all" %>
</head>
<body>
  <!--login modal-->
  <div class="container">
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <img src="/assets/vm-logo.jpg" width="30%"><h3 class="text-center">Sign in using AD Credentials</h3>
          </div>
          <div class="modal-body">
           <%= form_tag sessions_path do %>
           <div class="form col-md-12 center-block">
             <% if flash[:error]%>
             <div class="alert alert-error">
              <p><%= flash[:error] %></p>
            </div>
            <% end %>
            <div class="form-group">
              <%= text_field_tag :email, params[:email], class: "form-control input-lg" , :autofocus=> true, :placeholder =>"User Name"%>
              <!-- <input type="text" class="form-control input-lg" placeholder="Email"> -->
            </div>
            <div class="form-group">
              <%= password_field_tag (:password), nil ,class: "form-control input-lg" , :placeholder =>"Password"%>

              <!-- <input type="password" class="form-control input-lg" placeholder="Password"> -->
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Sign In</button>
              <!-- <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span> -->
            </div>
          </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <div class="col-md-12">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>	
        </div>
      </div>
    </div>
  <%= render :partial=> "layouts/footer" %>
  </div>
</div>
</body>
</html>





</body>



<style>
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
</style>


