<div class ="container">
  <!-- Index form Started -->
  <div class="col-sm-12">
    <div class="form-search col-sm-4">
      <h2>New Build Requests</h2></div>
     
    </div>

<%= form_for(@vmrequest, remote: true) do |f| %>
  <% if @vmrequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vmrequest.errors.count, "error") %> prohibited this vmrequest from being saved:</h2>

      <ul>
      <% @vmrequest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <p>
  <% end %>
<fieldset class="formfield">
 <p>
    <label> Name</label>
    <%= f.text_field :name %>
  </p>
  
  <% @projects = Project.all%>
   <p>
    <label> Project</label>
    <%= f.select :project, (@projects.collect{|a| [a.name, a.id]}),{},{:style=>"width:50% !important;"} %>
  </p>
  <p>
    <label>Environment</label>
    <%= f.select :environment, ['Dev','Stage','Prod'] ,{},{:style=>"width:50% !important;"}%>
  </p>
  <p>
    <label> Requester</label>
    <%= f.text_field :requester %>
  </p>
  <p>
    <% data = (1..1024).select{|i| i%2==0} %>
    <label>Requested Date</label>
    <%= f.date_select :requested_date, :style=>"width:70px;" %>
  </p>
  <p>
    <label>CPU's</label>
    <%= f.select :cpus,data,{},{:style=>"width:50% !important;"} %>
  </p>
  <p>
    <label>RAM(GB)</label>
    <%= f.select :ram , data,{},{:style=>"width:50% !important;"}%>
  </p>
  <p>
    <label>Space(GB)</label>
    <%= f.select :space, data ,{},{:style=>"width:50% !important;"}%>
  </p>
  <p>
    <label>OS Type</label>
    <%= f.select :os_type,['Windows','Linux'],{},{:style=>"width:50% !important;"} %>
  </p>
  <p>
    <label>Approval</label>
    <%= f.check_box :approval ,{:style=>"width: 19px;height:19px;"}, "yes","no" %>
  </p>
 
  <p>
    <label>Status</label>
    <%= f.select :status, ['Built','InProgress','Started'] ,{},{:style=>"width:50% !important;"}%>
  </p>
     <p>
    <label>Comments</label>

    <%= f.text_area:comments, :rows=>4,:columns=>5 %>
  </p>

   <p>  <%= f.submit :class=>"btn btn-primary", :value=>"Create Request", :remote=>true, :style=>"float:right;"%></p>
<% end %>
</fieldset>

<p>