<div class ="container">
  <!-- Index form Started -->
  <div class="col-sm-12">
    <div class="form-search col-sm-4">
      <h2>Builds</h2></div>
      <div class="form-search col-sm-4" style="margin-top:20px;">
        <div class="input-append">

          
        </div>
      </div>
    </div>

  <table class="table table-striped tablesorter">

  <tr>
    <th>VM Name</th>
    <th>Requested date</th>
    <th>Approval</th>
    <th>Status</th>
    <th>Assignee</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vmrequests.each do |vmrequest| %>
  <tr>
    <td><%= vmrequest.name %></td>
    <td><%= vmrequest.requested_date %></td>
    <td><%= vmrequest.approval %></td>
    <td><%= vmrequest.status %></td>
    <td><%= vmrequest.other %></td>
    <td><%= link_to 'Show', vmrequest, :remote=>true %></td>
    <td><%= link_to 'Edit', edit_vmrequest_path(vmrequest), :remote=>true %></td>
  </tr>
<% end %>
</table>

<br />



</div>

