<div class ="container">
  <!-- Index form Started -->
  <div class="col-sm-12">
    <div class="form-search col-sm-4">
      <h2><%= @vmrequest.name.capitalize%> Details</h2></div>
     
    </div>
<p id="notice"><%= notice %></p>
<fieldset class="formfield">
 <p style="font-size:14px;">
    <label> Name</label>
  <%= @vmrequest.name %>
</p>

<p style="font-size:14px;">
  <label>Environment:</label>
  <%= @vmrequest.environment %>
</p>

<p style="font-size:14px;">
  <label>Requester:</label>
  <%= @vmrequest.requester %>
</p>
<p style="font-size:14px;">
  <label>Owner :</label>
  <%= @vmrequest.owner %>
</p>
<p style="font-size:14px;">
  <label>Project:</label>
  <%= Project.where(:id=>@vmrequest.project).first.name if @vmrequest.project.present? %>
</p>

<p style="font-size:14px;">
  <label>HN Requested Date:</label>
  <%= @vmrequest.requested_date %>
</p>

<p style="font-size:14px;">
  <label>Completion Date:</label>
  <%= @vmrequest.complete_date %>
</p>

<p style="font-size:14px;">
  <label>CPU's:</label>
  <%= @vmrequest.cpus %>
</p>

<p style="font-size:14px;">
  <label>RAM (GB):</label>
  <%= @vmrequest.ram %>
</p>

<p style="font-size:14px;">
  <label>Space (GB):</label>
  <%= @vmrequest.space %>
</p>

<p style="font-size:14px;">
  <label>OS Type:</label>
  <%= @vmrequest.os_type %>
</p>
<p style="font-size:14px;">
  <label>OS Version :</label>
  <%= @vmrequest.os_version %>
</p>
<p style="font-size:14px;">
  <label>Ticket No :</label>
  <%= @vmrequest.ticket_no %>
</p>

<p style="font-size:14px;">
  <label>Approval:</label>
  <%= @vmrequest.approval %>
</p>

<p style="font-size:14px;">
  <label>Comments:</label>
  <%= @vmrequest.comments %>
</p>
<p style="font-size:14px;">
  <label>Assignee :</label>
  <%= @vmrequest.other %>
</p>


<p style="font-size:14px;">
  <label>Status:</label>
  <%= @vmrequest.status %>
</p>
</fieldset>
</div>

<%= link_to 'Edit', edit_vmrequest_path(@vmrequest), :remote=>true %> |
<%= link_to 'Back', vmrequests_path, :remote=>true %>


<style>
.formfield label { padding:4px;margin-top:0px !important; float: left; clear: left; display: block; width: 140px; padding-right: 20px; text-align: left; line-height: 15px; font-size:14px;}

<style>
