<div class="col-sm-12">
    <div class="form-search col-sm-4">
      <h2>Projects</h2></div>
      <div class="form-search col-sm-4" style="margin-top:20px;">
        <div class="input-append">

          <%= form_tag projects_path, :method => :get, :remote=> true do %>
          <%= text_field_tag :search, params[:search],:class=>"span2 search-query"  ,:style=>"height:32px;border:3px solid rgb(221,219,231);border-radius:14px 0 0 14px; margin-right:-10px;",:placeholder =>"Search By Project"%>
          <%= submit_tag "Search", :name => nil, :class=>"btn", :style=>"height:32px; border-radius:0 14px 14px 0;" %>
          <% end %>
        </div>
      </div>
       <div class="form-search col-sm-4"><h2><%= link_to 'Add Project', new_project_path, :remote=>true %></h2></div>

    </div>
<table  class="table table-hover tablesorter">
  <tr>
    <th style="text-align:center;font-size:19px;">Name</th>
    <th style="text-align:center;font-size:19px;">Team</th>
    <th style="text-align:center;font-size:19px;">Other</th>
    <th colspan=3 style="text-align:center;font-size:19px;"> Actions</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td style="text-align:center;font-size:14px;"><%= project.name %></td>
    <td style="text-align:center;font-size:14px;"><%= project.team %></td>
    <td style="text-align:center;font-size:14px;"><%= project.other %></td>
    <td style="text-align:center;font-size:14px;"><%= link_to 'Show', project, :remote=>true, :class=>"btn btn-primary"  %></td>
    <td style="text-align:center;font-size:14px;"><%= link_to 'Edit', edit_project_path(project), :remote=>true, :class=>"btn btn-info"  %></td>
    <td style="text-align:center;font-size:14px;"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger"  %></td>
  </tr>
<% end %>
</table>

<br />
      <%= paginate @projects, :container => false, :remote=> true %>

