<div class ="container">
  <!-- Index form Started -->
  <div class="col-sm-12">
    <div class="form-search col-sm-4">
      <h2><%= @project.name.capitalize%> Details</h2></div>
     
    </div>
<p id="notice"><%= notice %></p>
<fieldset class="formfield">
 <p style="font-size:14px;">
    <label> Name</label>
  <%= @project.name %>
</p>

<p style="font-size:14px;">
  <label>Date:</label>
  <%= @project.team %>
</p>

<p style="font-size:14px;">
  <label>Description:</label>
  <%= @project.other %>
</p>

</fieldset>
</div>

<%= link_to 'Edit', edit_project_path(@project),:remote=>true %> |
<%= link_to 'Back', projects_path,:remote=>true %>

<style>
.formfield label { padding:4px;margin-top:0px !important; float: left; clear: left; display: block; width: 140px; padding-right: 20px; text-align: left; line-height: 15px; font-size:14px;}

<style>
