<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Team:</b>
  <%= @project.team %>
</p>

<p>
  <b>Other:</b>
  <%= @project.other %>
</p>
<p>
  <b> VM's Built </b>
  <%= Vmrequest.where(:project=> @project.id).collect(&:name).to_sentence%>
</p>

<%= link_to 'Edit', edit_project_path(@project),:remote=>true %> |
<%= link_to 'Back', projects_path,:remote=>true %>
