<header style="border-bottom:2px solid black;">
  <div class="container" style="border:0px #900 solid">
    <div class="row">
      <% if @current_user.present? %>
      <div class="col-sm-4" >
        <div class="logo" > 
          <%= link_to (image_tag("vm-logo.jpg")), "/", :id => "logo", :title=>"Back to Home", :style=>"width:35%;margin:0px !important" %>
        </div>
      </div>

<!-- header search -->
<% comment do %>
      <div class="form-search col-sm-4" style="margin-top:20px;">
        <div class="input-append">

          <%= form_tag search_list_path, :method => :get, :remote=> true do %>
          <%= text_field_tag :search, params[:search],:class=>"span2 search-query" ,:style=>"height:32px;border:3px solid rgb(221,219,231);border-radius:14px 0 0 14px; margin-right:-10px;", :placeholder =>"Search Inventory"%>
          <%= submit_tag "Search", :name => nil, :class=>"btn", :style=>"height:32px; border-radius:0 14px 14px 0;" %>
          <% end %>
        </div>
      </div>
<% end %>


      <div class="col-sm-4" align="right" style=" float:right;padding-top:10px;">
        <span><b>Logged in as: </b><%= @current_user %></span><br/>
        <%= link_to "Logout",  logout_path %>
      </div>
    </div><!-- /.container-fluid -->
  </div>

  <% else %>
  <div class="col-sm-6">
    <div class="logo" style="width:45% !important;"> <%= link_to (image_tag("vm-logo.jpg")), "/", :id => "logo" %>  </div>
  </div>
</div>
<% end %>

</header>
<style>
img{
  width:35%;
}
div.logo:hover  {
  /*opacity:0.6;*/
  transform: scale(1.1);
  /*background-size: 150% 150%;*/
}
.navbar .nav>li:hover {
  /*opacity:0.6;*/
  transform: scale(1.1);
  /*background-size: 150% 150%;*/
}

</style>
