<!DOCTYPE html>
<html>
<head>
  <title>Master Build Service</title>
  <%= stylesheet_link_tag    "application","bootstrap","extra","jquery-ui", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div style=" margin:0; padding:0; left:0; right:0;position:absolute">

   <%= render :partial=> "layouts/header" %>
   <div class="container" style="margin-top:4%;">
    <%= yield %> 
  </div>
  <%= yield :scripts %>


  <%= render :partial=> "layouts/footer" %>
  <div class="container" style="height:60px"></div>
</div>
</body>
</html>
