<!DOCTYPE html>
<html>
<head>
  <title>Knowledge Management Portal</title>
  <%= stylesheet_link_tag    "application","bootstrap","extra","jquery-ui", :media => "all" %>
  <%= javascript_include_tag "application" %>
<%= javascript_include_tag :defaults, "rails.validations" %>  
  <%= csrf_meta_tags %>
</head>
<body>


  <div style=" margin:0; padding:0; left:0; right:0;position:absolute">

   <%= render :partial=> "layouts/header" %>
   <div class="container">
   <div style="text-align:center;color:#428bca;"><h3> Radio Submissions </h3></div>
    <%= yield %> 
  </div>
  <%= yield :scripts %>


  <%= render :partial=> "layouts/footer" %>
  <div class="container" style="height:60px"></div>
</div>
</body>
</html>
